.container{
    margin-top: 10em;
}

span{
    color: black;
    margin-left: 1em;
    font-size: 3em;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 2em 2em 2em 2em;
    width: 50%;
}

.inputForm{
    margin: .5em .5em .5em .5em;
    border-radius: 3rem;
    padding: 1em 1em 1em 1em;
}

.textareaForm{
    margin: .5em .5em .5em .5em;
    border-radius: 1rem;
    padding: 2em 2em 2em 2em;
}

label{
    color: black;
}

.buttonForm{
    display: flex;
    justify-content: center;
    border-radius: 3rem;
    margin-top: 1em;
}

.buttonFormContent{
    width: 20em;
}

small {
    color: red;
}

@media screen and (max-width: 769px){
    .form{
        width: 80%;
    }
}