<div class="container">
    <span>Posts :</span>
    <div class="post" *ngFor="let posts of post; let i as index">
        <div class="postTitle">
            <p>Titre : {{posts.title}}</p>
        </div>
        <div class="params" (click)="params()"><img src="../assets/reglage.png" alt=""></div>
        <div class="paramètre" *ngIf="openParams">
            <p (click)="modifyPost(posts.id)">Modifier</p>
            <p (click)="deleteCategory(posts.id)">Supprimer</p>
        </div>
        <div class=" postDescription">- Message : {{posts.description}}
        </div>
    </div>
</div>