<div class="container">
    <span>Posts :</span>
    <div class="post" *ngFor="let posts of post">
        <div>
            <p>Titre : {{posts.title}}</p>
        </div>
        <div>message : {{posts.description}} </div>
        <div class="update" (click)="modifyPost(posts.id)">
            <img src="../assets/crayon-de-couleur.png" alt="">
        </div>
        <div class="delete" (click)="deleteCategory(posts.id)">
            <img src="../assets/icons8-supprimer-24.png" alt="">
        </div>
    </div>
</div>