<div class="container">
    <span>Modifier :</span>
    <form class="form" #myPostForm="ngForm" (ngSubmit)="createPostForm.valid && onSubmit()"
        [formGroup]="createPostForm">
        <label for="inputText">Inserez un titre</label>
        <input class="inputForm" type="text" id="inputText" formControlName="postTitle">

        <div *ngIf="
          (myPostForm.submitted && createPostForm.get('postTitle')?.errors?.required) ||
          (createPostForm.get('postTitle')?.touched &&
          createPostForm.get('postTitle')?.errors?.required)
        ">
            <small>Le titre est requis.</small>
        </div>

        <div *ngIf="
        (myPostForm.submitted &&
        createPostForm.get('postTitle')?.errors?.minlength) ||
      (createPostForm.get('postTitle')?.touched &&
      createPostForm.get('postTitle')?.errors?.minlength)
    ">
            <small>Le titre doit comporter 2 caractères minimum.</small>
        </div>

        <div *ngIf="
              (myPostForm.submitted &&
              createPostForm.get('postTitle')?.errors?.maxlength) ||
              (createPostForm.get('postTitle')?.touched &&
              createPostForm.get('postTitle')?.errors?.maxlength)
            ">
            <small>Le nom doit comporter 100 caractères maximum.</small>
        </div>

        <label for="textareaText">Inserez votre message</label>
        <textarea class="textareaForm" name="" id="textareaText" cols="30" rows="10"
            formControlName="postDescription"></textarea>

        <div *ngIf="
          (myPostForm.submitted && createPostForm.get('postDescription')?.errors?.required) ||
          (createPostForm.get('postDescription')?.touched &&
          createPostForm.get('postDescription')?.errors?.required)
        ">
            <small>La description est requise.</small>
        </div>

        <div *ngIf="
        (myPostForm.submitted &&
        createPostForm.get('postDescription')?.errors?.minlength) ||
      (createPostForm.get('postDescription')?.touched &&
      createPostForm.get('postDescription')?.errors?.minlength)
    ">
            <small>Le message doit comporter 15 caractères minimum.</small>
        </div>

        <div *ngIf="
              (myPostForm.submitted &&
              createPostForm.get('postDescription')?.errors?.maxlength) ||
              (createPostForm.get('postDescription')?.touched &&
              createPostForm.get('postDescription')?.errors?.maxlength)
            ">
            <small>Le message doit comporter 4000 caractères maximum.</small>
        </div>

        <div class="buttonForm">
            <button class="buttonFormContent" type="submit">Valider</button>
        </div>
    </form>
</div>